<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://77.55.192.67:3306/wsx22</property>
        <property name="hibernate.connection.username">wsx22</property>
        <property name="hibernate.connection.password">wsx22</property>
        <property name="show_sql">true</property>

        <!-- Specifying Session Context -->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <!-- Mapping With Model Class Containing Annotations -->
        <mapping class="cinemaprojectfx.hibernate.User"/>
        <mapping class="cinemaprojectfx.hibernate.Actor"/>
        <mapping class="cinemaprojectfx.hibernate.Director"/>
        <mapping class="cinemaprojectfx.hibernate.Genre"/>
        <mapping class="cinemaprojectfx.hibernate.TicketType"/>
        <mapping class="cinemaprojectfx.hibernate.Movie"/>
        <mapping class="cinemaprojectfx.hibernate.Room"/>
        <mapping class="cinemaprojectfx.hibernate.Order"/>
        <mapping class="cinemaprojectfx.hibernate.Ticket"/>
        <mapping class="cinemaprojectfx.hibernate.Seance"/>
        <mapping class="cinemaprojectfx.hibernate.Employee"/>


    </session-factory>
</hibernate-configuration>